*,
*::before,
*::after{
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
}

body {
    margin:0;
}

.site-header {
    background-color: #ed95dc;
    position:fixed;
    width:100%;
    display:block;
}

.container {
    max-width:1140px;
    width:100%;
    margin:0 auto;
    padding:0 20px;
}

.flex-container {
    display: flex;
}

.site-header .container {
    justify-content: space-between;
    align-items: center;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 5px;
    padding:10px 17px;
}

.main-nav a:hover, main-nav a:active {
    background-color: #f5cbec;
    border-radius: 5px;
}

.mobile-nav {
    display: none;
}

.logo {
    padding:55px 0;
}

/* HERO */
.hero {
    background-color: #f0ddee;
    text-align: center;
    padding-top:100px;
}

section > .container {
    padding: 120px 0;
}

.hero h1 {
    color:#f7f3ea;
    font-size: 2.625rem;
    line-height: 1.1428;
    max-width: 843px;
    margin:0 auto;
}

.hero a, .contact .btn {
    font-size: 1.125rem;
    letter-spacing: 0.02em;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ed95dc;
    padding: 28px 82px 25px;
    border-radius: 5px;
    border-bottom: 4px solid #f0ddee;
    margin-top:40px;
    display: inline-block;
    cursor:pointer;
}

/* SERVICES */
.services {
    background-color: #ed95dc;
}

.section-heading {
    text-align: center;
    color:#fff;   
}

.section-heading h2 {
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.section-heading h2:after {
    content:"";
    display: block;
    width:90px;
    border-top: 4px solid #f0ddee;
    margin:22px auto;
}

.container a, .container p, .container h3 {
    font-size: 1.125rem;
    letter-spacing: 0.02em;
}

.section-heading p {
    max-width:610px;
    margin:0 auto;
    line-height: 1.625;
}

.service {
    text-align:center;
    color:#fff;
    max-width: 200px;
    margin: 80px auto 0;
}

.service h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}

.section-content p {
    font-size:1rem;
    line-height: 1.5;
    font-weight:300;
}

/* CONTACT */
.contact {
    background-color:#ed95dc;
    color:#fff;
}

.contact .container {
    padding-bottom:60px;
}

.contact .section-heading h2:after {
    border-color:#f0ddee;
}

.contact .section-heading p {
    max-width:780px;
}

.contact .section-content {
    width:80%;
    max-width:860px;
    margin:80px auto;
}

.contact .section-content .contact-form .input-row {
    margin-bottom:30px;
}

.contact .section-content .contact-form .input-row input{
    padding: 20px 25px;
    border-radius:5px;
    border:none;
    width:calc(50% - 18px);
    color:#b522a9;
    background-color:#f0ddee;
}

.contact .section-content .contact-form .input-row input::placeholder,
.contact .section-content .contact-form textarea::placeholder {
    color:#fff;
}

.contact .section-content .contact-form .input-row input:first-child {
    margin-right:16px;
}

.contact .section-content .contact-form .input-row input:last-child {
    margin-left:16px;
}

.contact .section-content .contact-form textarea {
    border:none;
    border-radius:5px;
    width:100%;
    padding:25px;
    color:#b522a9;
    background-color: #f0ddee;
}

.contact .section-content .contact-form .btn-form {
    background-color:#f5cbec;
    border-color:#f0ddee;
}

.contact .btn {
    margin: 60px auto 0;
    display:block;
    width:300px;
}

/* FOOTER */
.footer {
    background-color:#f5cbec;
    padding:50px 0;
}

.footer ul {
    justify-content: space-around;
    list-style:none;
}

.footer ul li a {
    display:block;
    padding:5px;
    color:#fff;
    text-decoration: none;
    font-size:1.5rem;
    font-weight:500;
    letter-spacing: 0.02em;
}

.footer ul li a:hover {
    color:#f0ddee;
}

@media all and (max-width:980px) {
    .main-nav {
        display: none;
    }
    .site-header .container {
        display:block;
    }
    .logo {
        float:left;
    }
    .mobile-nav{
        position: relative;
        width: 100%;
        display: block;
    }
    .mobile-nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        width: 100%;
        top:133px;
        padding: 20px;
        background-color: #fff;
    }
    .mobile-nav li {
        list-style: none;
    }
    .mobile-nav a {
        color:#f0ddee;
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        margin:0 5px;
        padding: 10px 17px;
        display: block;
    }
    .mobile-nav a:hover, .mobile-nav a:active {
        background-color: #f0ddee;
        border-radius: 5px;
        color: #fff;
    }
    .mobile-nav a.icon {
        display:block;
        position:absolute;
        right:0;
        top:60px;
        color:#fff;
    }

    .services .section-content{
        flex-direction:column;
    }

    .service {
        max-width:90%;
    }

    .footer ul {
        padding-left:0;
    }
}

@media screen and (max-width:640px) {
    .footer-nav .flex-container{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:414px) {
    section >.container {
        padding:70px 0;
    }

    h1 {
        font-size:2.3rem;
    }

    .section-heading h2{
        font-size:2.2rem;
    }
}